<div class="container">
  <div class="row">
    <p class="text-center effect_head">Відеозйомка</p>
  </div>

  <div class="row">
    <p class="text-center text_head_effect_block">Базовий</p>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <p class="text_text_effect_block">
        Зйомка весільного дня одним відеографом від ранку до 02:00.Аерозйомка.
        Монтаж повного весільного фільму тривалістю від 45 хв.до 75 хв.+
        кліп highlights 3-5 хв.&nbsp;&nbsp;&nbsp;&nbsp; 500 y.o.
      </p>
    </div>
  </div>
  <!--<div class="row">-->
    <!--<div class="col-lg-10 col-lg-offset-1">-->
      <!--<p class="price text-center">-->
        <!--500 y.o.-->

      <!--</p>-->
    <!--</div>-->
  <!--</div>-->

  <div class="row">
    <p class="text-center text_head_effect_block">Стандарт</p>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <p class="text_text_effect_block">
        Зйомка весільного дня двома відеографами від ранку до 02.00. Аерозйомка.
        Монтаж повного весільного фільму тривалістю від 45хв. до 90хв.+кліп highlights 3-5 хв.&nbsp;&nbsp;&nbsp;&nbsp;650 y.o.
      </p>
    </div>
  </div>
  <!--<div class="row">-->
    <!--<div class="col-lg-10 col-lg-offset-1">-->
      <!--<p class="price text-center">-->
        <!--650 y.o.-->

      <!--</p>-->
    <!--</div>-->
  <!--</div>-->

  <div class="row">
    <p class="text-center text_head_effect_block">Фотозйомка</p>
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1">

      <ngx-carousel
        [inputs]="carouselFour"
        [moveToSlide]="2"
        (onMove)="myfunc($event)">

        <ngx-item NgxCarouselItem class="bannerStyle">
          <img src="../../assets/img/video/005.jpg" alt="">
        </ngx-item>
        <ngx-item NgxCarouselItem class="bannerStyle">
          <img src="../../assets/img/video/006.jpg" alt="">
        </ngx-item>
        <ngx-item NgxCarouselItem class="bannerStyle">
          <img src="../../assets/img/video/007.jpg" alt="">
        </ngx-item>

        <button NgxCarouselPrev class='leftRs'>&lt;</button>
        <button NgxCarouselNext class='rightRs'>&gt;</button>
      </ngx-carousel>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <p class="text_text_effect_block">
        *День зйомки до другого столу (до 22.00).<br>
        *Флешка з усіма фото (оброблені художньою фото (250-300 фото).<br>
        *Фотокнига в шкірзамінику розміром 30*30 см на 50 сторінок,<br>
        + Подарунковий бокс для зберігання альбому і флешки.
        &nbsp;&nbsp;&nbsp;&nbsp; 500 у.о.

      </p>
    </div>
  </div>
  <!--<div class="row">-->
    <!--<div class="col-lg-10 col-lg-offset-1">-->
      <!--<p class="price text-center">-->
        <!--500 y.o.-->

      <!--</p>-->
    <!--</div>-->
  <!--</div>-->

  <div class="row">
    <p class="text-center text_head_effect_block">Фотозйомка+роздрук вдень весілля
    </p>
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1">

      <ngx-carousel
        [inputs]="carouselFourr"
        [moveToSlide]="2"
        (onMove)="myfunc($event)">

        <ngx-item NgxCarouselItem class="bannerStyle">
          <img src="../../assets/img/video/1.jpg" alt="">
        </ngx-item>
        <ngx-item NgxCarouselItem class="bannerStyle">
          <img src="../../assets/img/video/2.jpg" alt="">
        </ngx-item>
        <ngx-item NgxCarouselItem class="bannerStyle">
          <img src="../../assets/img/video/3.jpg" alt="">
        </ngx-item>
        <ngx-item NgxCarouselItem class="bannerStyle">
          <img src="../../assets/img/video/4.jpg" alt="">
        </ngx-item>

        <button NgxCarouselPrev class='leftRs'>&lt;</button>
        <button NgxCarouselNext class='rightRs'>&gt;</button>
      </ngx-carousel>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <p class="text_text_effect_block">
        100 роздрукованих фото,електронні фото, дизайн рамки, асистент-2800 грн.<br>
        200 роздрукованих фото, електронні фото, дизайн рамки, аксесуари, асистент +Безкоштовна фотозона- 5000грн.<br>
        300 роздрукованих фото, електронні фото, дизайн рамки, аксесуари, асистент +Безкоштовна фотозона- 7000грн.<br>

        Доставка в межах Львова безкоштовна!

      </p>
    </div>
  </div>

  <div class="row">
    <p class="text-center text_head_effect_block">Фотозйомка
    </p>
  </div>

  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <p class="text_text_effect_block">
        450 y.o.- цілий день зйомки, до першого танцю. В ціну входить 800-1000 оброблених фото +слайд шоу.<br>
        600 y.o.- цілий день зйомки, до першого танцю. В ціну входить 800-1000 оброблених фото +слайд шоу. +Оформлена фотокнига 30*30 см.<br>
        700 y.o.- цілий день зйомки, до першого танцю. В ціну входить 800-1000 оброблених фото +слайд шоу. +Оформлена фотокнига 30*30 см і дві 15*15 (для батьків).<br>
        Зйомка після першого танцю і до кінця +100 y.o.<br>


      </p>
    </div>
  </div>
</div>
