<div class="container">
  <div class="row">
    <p class="text-center effect_head">Декор</p>
  </div>

  <div class="col-lg-12">
    <div class="row">
      <p class="text-center text_head_effect_block">Весільний банер </p>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="text_text_effect_block">
          Весільний банер – це нова та оригінальна ідея весільних фото. Ваші гості отримають незабутню згадку про свято, а головне у Вас залишиться фото на пам'ять.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1">
        <ngx-carousel
          [inputs]="carouselOne"
          [moveToSlide]="2"
          (onMove)="myfunc($event)">

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/banner/12.jpg" alt="">
          </ngx-item>
          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/banner/1.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/banner/2.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/banner/3.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/banner/4.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/banner/5.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/banner/6.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/banner/7.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/banner/8.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/banner/9.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/banner/10.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/banner/11.jpg" alt="">
          </ngx-item>


          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/banner/13.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/banner/14.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/banner/15.jpg" alt="">
          </ngx-item>


          <button NgxCarouselPrev class='leftRs'>&lt;</button>
          <button NgxCarouselNext class='rightRs'>&gt;</button>
        </ngx-carousel>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="price text-center">
          Вартість : 2*2м= 1650, 2*3м=1850.
          У вартість входить:<br>
          оренда конструкції,
          створення макету,
          друк банера,
          встановлення.<br>
          Сам банер залишається у Вас.

        </p>
        <p class="price text-center">
          У вартість оренди включено: доставку та обслоговування в межах м. Львова.
        </p>
      </div>
    </div>

    <div class="row">
      <p class="text-center text_head_effect_block">Фоторамки
      </p>
    </div>
    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1">

      <ngx-carousel
        [inputs]="carouselTwo"
        [moveToSlide]="2"
        (onMove)="myfunc($event)">

        <ngx-item NgxCarouselItem class="bannerStyle">
          <img src="../../assets/img/photo/1.jpg" alt="">
        </ngx-item>
        <ngx-item NgxCarouselItem class="bannerStyle">
          <img src="../../assets/img/photo/2.jpg" alt="">
        </ngx-item>

        <ngx-item NgxCarouselItem class="bannerStyle">
          <img src="../../assets/img/photo/3.jpg" alt="">
        </ngx-item>

        <button NgxCarouselPrev class='leftRs'>&lt;</button>
        <button NgxCarouselNext class='rightRs'>&gt;</button>
      </ngx-carousel>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="text_text_effect_block">
          Розмір 60*80.Вартість 550 грн.
        </p>
      </div>
    </div>

    <div class="row">
      <p class="text-center text_head_effect_block">План розсадки
      </p>
    </div>
    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1">

      <img src="../../assets/img/photo/4.jpg" alt="">
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="text_text_effect_block">
          Роздрук на пластику. Розмір 40*60 см . Вартість 550 грн.
          Номерація столів. Розмір 15*20 см. К-сть 6 шт. Вартість 400 грн.

        </p>
      </div>
    </div>

    <div class="row">
      <p class="text-center text_head_effect_block">Букви LOVE
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1">

        <ngx-carousel
          [inputs]="carouselThird"
          [moveToSlide]="2"
          (onMove)="myfunc($event)">

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/photo/5.jpg" alt="">
          </ngx-item>
          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/photo/6.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/photo/7.jpg" alt="">
          </ngx-item>

          <button NgxCarouselPrev class='leftRs'>&lt;</button>
          <button NgxCarouselNext class='rightRs'>&gt;</button>
        </ngx-carousel>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="text_text_effect_block">

          З буквами LOVE Ваше весілля буде стильним і креативним. Вони чудово виглядають в урочистому залі і на галявині. Висота букв 80 см.
          <br>
          Вартість прокату 700 грн. з встановленням. Виїзд за межі м. Львова оплачується додатково.

        </p>
      </div>
    </div>

    <div class="row">
      <p class="text-center text_head_effect_block">Флористика та декор
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1">

        <ngx-carousel
          [inputs]="carouselFour"
          [moveToSlide]="2"
          (onMove)="myfunc($event)">

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/flor/1.jpg" alt="">
          </ngx-item>
          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/flor/2.jpg" alt="">
          </ngx-item>
          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/flor/3.jpg" alt="">
          </ngx-item>
          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/flor/4.jpg" alt="">
          </ngx-item>
          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/flor/5.jpg" alt="">
          </ngx-item>
          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/flor/7.jpg" alt="">
          </ngx-item>
          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/flor/8.jpg" alt="">
          </ngx-item>
          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/flor/9.jpg" alt="">
          </ngx-item>
          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/flor/10.jpg" alt="">
          </ngx-item>
          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/flor/11.jpg" alt="">
          </ngx-item>
          <button NgxCarouselPrev class='leftRs'>&lt;</button>
          <button NgxCarouselNext class='rightRs'>&gt;</button>
        </ngx-carousel>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="text_text_effect_block">
          Оформлення виїзної реєстрації і банкетного залу живими квітами – найкраща можливість створити відчуття урочистості та особливість моменту. Це, мабуть, одна з найважливіших позицій, на якій не слід економити під час організації весілля.
          <br>
          Змінити навколишній простір та прикрасити його можна не лише за допомогою квітів, але використовуючи різноманітні тканини. Тканинний декор – це досить елегантний та простий спосіб підкреслити настрій вашого свята.
        </p>
      </div>
    </div>
  </div>
</div>
