<div class="container">
  <div class="row">
    <p class="text-center effect_head">Декор</p>
  </div>

  <div class="col-lg-12">
    <div class="row">
      <p class="text-center text_head_effect_block">Весільний банер </p>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="text_text_effect_block">
          Весільний банер – це нова та оригінальна ідея весільних фото. Ваші гості отримають незабутню згадку про свято, а головне у Вас залишиться фото на пам'ять.
        </p>
      </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="price text-center">
          Вартість : 2*2м= 1550, 2*3м=1750.
          У вартість входить:<br>
          оренда конструкції,
          створення макету,
          друк банера,
          встановлення.<br>
          Сам банер залишається у Вас.

        </p>
        <p class="price text-center">
          У вартість оренди включено: доставку та обслоговування в межах м. Львова, 1.5 - 2 кг. витратного матеріалу (конфеті).
        </p>
      </div>
    </div>

    <div class="row">
      <p class="text-center text_head_effect_block">Фоторамки
      </p>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="text_text_effect_block">
          Розмір 60*80.Вартість 550 грн.
        </p>
      </div>
    </div>

    <div class="row">
      <p class="text-center text_head_effect_block">План розсадки
      </p>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="text_text_effect_block">
          Роздрук на пластику. Розмір 40*60 см . Вартість 550 грн.
          Номерація столів. Розмір 15*20 см. К-сть 6 шт. Вартість 300 грн.

        </p>
      </div>
    </div>

    <div class="row">
      <p class="text-center text_head_effect_block">Букви LOVE
      </p>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="text_text_effect_block">

          З буквами LOVE Ваше весілля буде стильним і креативним. Вони чудово виглядають в урочистому залі і на галявині. Висота букв 80 см.
          <br>
          Вартість прокату 700 грн. з встановленням. Виїзд за межі м. Львова оплачується додатково.

        </p>
      </div>
    </div>

    <div class="row">
      <p class="text-center text_head_effect_block">Флористика та декор
      </p>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="text_text_effect_block">
          Оформлення виїзної реєстрації і банкетного залу живими квітами – найкраща можливість створити відчуття урочистості та особливість моменту. Це, мабуть, одна з найважливіших позицій, на якій не слід економити під час організації весілля.
          <br>
          Змінити навколишній простір та прикрасити його можна не лише за допомогою квітів, але використовуючи різноманітні тканини. Тканинний декор – це досить елегантний та простий спосіб підкреслити настрій вашого свята.
        </p>
      </div>
    </div>
  </div>
</div>
