<div class="container">
  <div class="row">
    <p class="text-center effect_head">УМОВИ ПРОКАТУ СУКОНЬ</p>
  </div>
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="text_text_effect_block">

          1. Сукня напрокат надається на термін 3-5 календарних дні. У випадку, якщо ви повернете товар пізніше за домовлений термін, ви зобов’язані оплатити +50 грн.за кожний день.<br>
          2.Клієнт може забронювати сукню внісши завдаток, який залежить від вартості сукні.<br>
          Завдаток від 400 - 600 грн.за дві сукні. Якщо клієнт передумав брати сукню завдаток НЕ повертається.<br>
          3. Сукні видаються під заставу (500-1000грн). Дана застава повертається при поверненні товару, якщо товар не пошкоджений.<br>
          3. Клієнт зобов’язаний повернути сукню в тому ж стані в якому він її отримав. Якщо товар суттєво пошкоджений, потрібно відшкодувати.<br>
          4.Сукні після прокату прати не потрібно.<br>
          Прохання: не переробляти сукню або окремі її деталі без згоди, а також не здавати її в хімчистку.<br>
          Ксерокопія паспорта –Обов’язкова!!!<br>

        </p>
      </div>
    </div>
  </div>
</div>

