<div class="container">
  <div class="row">
    <p class="text-center effect_head">Контакти</p>
  </div>
  <div class="col-lg-12">
    <div class="row">
    <p class="text-center">Телефони:
    </p>
  </div>
    <div class="row">
      <p class="text-center">+380638959583 (Viber) - Марія

      </p>
    </div>

    <div class="row">
      <p class="text-center">+380977520147 – Марія

      </p>
    </div>
    <div class="row">
      <p class="text-center">+380936844028 – Назар

      </p>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="col-lg-4 col-lg-offset-4">
      <div class="col-lg-3">
        <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/profile.php?id=100003579125124"><span class="fa fa-facebook"></span></a>
      </div>
      <div class="col-lg-3">
        <a class="btn btn-social-icon btn-vk" href="https://vk.com/id19765200"><span class="fa fa-vk"></span></a>
      </div>
      <div class="col-lg-3">
        <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/baranets_m/"><span class="fa fa-instagram"></span></a>
      </div>
      <div class="col-lg-3">
        <!--<a class="btn btn-social-icon btn-google" href="https://youtube.com/#/channel/UCEoEqVIeZro0wkZN1zGW4sw">-->
          <!--<img src="http://grantpa.com/assets/img_svg/you_tube_logo.png" width="32px" alt="">-->
        <!--</a>-->
      </div>




    </div>
  </div>
  <div class="row">
    <p class="text-center effect_head">Напишіть нам листа</p>
  </div>
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <form [formGroup]="rForm"   id="contact_form">
          <mat-form-field>
            <input matInput type="email" placeholder="Ваш емейл" class = "form-control" formControlName="email" >
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" placeholder="Ваше імя" class = "form-control" formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Повідомлення" class = "form-control" formControlName="text" >
          </mat-form-field>


          <p class="text-center">
            <button class="btn form-control"  (click) = "navigateToStepOne();">Надіслати</button>
          </p>
        </form>
    </div>
  </div>
</div>

