<div class="panel panel-primary">
  <div class="panel-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Name</label>
        <input type="text" class="form-control" formControlName="name" #name />
      </div>
      <div class="form-group">
        <label class="col-md-4">Description</label>
        <input type="text" class="form-control" formControlName="description" #description/>
      </div>

      <input type="file" (change)="fileChangeEvent($event)" />

      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="4 / 3"
        [resizeToWidth]="128"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>

      <img [src]="croppedImage" />
      <div class="form-group">
        <button (click)="addShare(name.value, description.value)" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>
</div>
