<div class="panel panel-primary">
  <div class="panel-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Прокат</label>
        <input type="text" class="form-control" formControlName="rent"  />
      </div>
      <div class="form-group">
        <label class="col-md-4">Застава</label>
        <input type="text" class="form-control" formControlName="qqq"  />
      </div>
      <div class="form-group">
        <label class="col-md-4">Опис</label>
        <input type="text" class="form-control" formControlName="description" #description/>
      </div>
      <div class="form-group">
        <label for="" class="col-md-4">Колір</label>
        <select formControlName="color">
          <option value="a">Жовтий</option>
          <option value="b">Рожевий</option>
          <option value="c">Зелений</option>
          <option value="d">Фіолетовий</option>
          <option value="e">Смарагдовий</option>
          <option value="f">Червоний</option>
          <option value="g">Золотий</option>
          <option value="j">Синій</option>
          <option value="i">Персиковий</option>
          <option value="k">Бурдовий</option>
          <option value="l">Бузковий</option>
          <option value="m">Голубий</option>
          <option value="n">Мятний</option>
          <option value="o">Кремовий</option>
          <option value="p">Малиновий</option>
          <option value="q">Шоколадний</option>

        </select>
      </div>
      <!--<div class="form-group">-->
        <!--<label class="col-md-4">Ціна за 4 дні</label>-->
        <!--<input type="text" class="form-control" formControlName="fourday" #name />-->
      <!--</div>-->
      <input type="file" (change)="fileChangeEvent($event)" />
      <input type="file" (change)="fileChangetwo($event)" />
      <input type="file" (change)="fileChangethird($event)" />

      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="4 / 3"
        [resizeToWidth]="128"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
      <img [src]="croppedImage" />
      <image-cropper
        [imageChangedEvent]="imageChangedtwo"
        [maintainAspectRatio]="true"
        [aspectRatio]="4 / 3"
        [resizeToWidth]="128"
        format="png"
        (imageCropped)="imageCroppedtwo($event)"
        (imageLoaded)="imageLoadedtwo()"
        (loadImageFailed)="loadImageFailedtwo()"
      ></image-cropper>
      <img [src]="croppedImagetwo" />
      <image-cropper
        [imageChangedEvent]="imageChangedthird"
        [maintainAspectRatio]="true"
        [aspectRatio]="4 / 3"
        [resizeToWidth]="128"
        format="png"
        (imageCropped)="imageCroppedthird($event)"
        (imageLoaded)="imageLoadedthird()"
        (loadImageFailed)="loadImageFailedthird()"
      ></image-cropper>
      <img [src]="croppedImagethird" />


      <div class="form-group">
        <button (click)="addShare('name', description.value)" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>
</div>
