<mat-toolbar color="primary">

  <button mat-button style = "float: left;">Агенція Марії Баранець</button>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button (click)="Nav('index')">Головна</button>
    <button mat-button (click)="Nav('rent')">Прокат плать</button>
    <button mat-button (click)="Nav('efect')">Спецефекти</button>
    <button mat-button (click)="Nav('decor')">Декор</button>
    <button mat-button (click)="Nav('video')">Відео - фотозйомка</button>
    <button mat-button (click)="Nav('rent-main')">Умови прокату</button>
    <button mat-button (click)="Nav('contact')">Контакти</button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" style = "float: right;" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-button class = "ww" (click)="Nav('index')">Головна</button>
  <button mat-button class = "ww" (click)="Nav('rent')">Прокат плать</button>
  <button mat-button class = "ww" (click)="Nav('efect')">Спецефекти</button>
  <button mat-button class = "ww" (click)="Nav('decor')">Декор</button>
  <button mat-button class = "ww" (click)="Nav('video')">Відео - фотозйомка</button>
  <button mat-button class = "ww" (click)="Nav('rent-main')">Умови прокату</button>
  <button mat-button class = "ww" (click)="Nav('contact')">Контакти</button>
  <!--<button mat-menu-item>Help</button>-->
</mat-menu>

<div class="container" id = 'cont' style ="position: relative">
  <router-outlet></router-outlet>
  <i class="fa fa-arrow-up" style = "position: fixed; right: 20px; bottom: 40px;" (click)="ToUp()"></i>
</div>
