@import url('https://fonts.googleapis.com/css?family=Itim');

.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  left: -30px;
}
h1{
  text-align: center;
}
button:focus{
  outline: none;
}
.form{
  width: 100%;
  height: auto;
  background: white;
}
.logo_text{
  font-size: 40px;
  font-family: 'Itim', cursive;
  color: #d40086;
}
.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  right: -30px;
}
img{
  width: 100%;
  height: 400px;

}
.container{
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(255, 255, 255);
  /* RGBa with 0.6 opacity */
  background-color: rgba(255, 255, 255, 0.6);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
.font-sze, li{
  font-size: 18px;
  font-weight: 600;
  font-family: -webkit-pictograph;
}
/*Contact sectiom*/
.content-header{
  font-family: 'Oleo Script', cursive;
  color:#fcc500;
  font-size: 45px;
}

.section-content{
  text-align: center;

}
#contact{

  font-family: 'Teko', sans-serif;
  padding-top: 30px;
  margin-top: 45px;
  width: 100%;
  height: auto;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left,#ca8181 , #7d5877); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ca8181 , #7d5877); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color : #fff;
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
  height: 135px;
  /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  /*width: 150px;*/
  background-color: transparent;
  color: #fff;

}
.form_head{
  font-size: 26px;
}

