<p class="text-center logo_text">Прокат плать від Марії Баранець</p>
<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1 ">
  <ngx-carousel
    [inputs]="carouselOne"
    [moveToSlide]="2"
    (onMove)="myfunc($event)">

    <ngx-item NgxCarouselItem class="bannerStyle">
      <img src="../../assets/img/main/1.jpg" alt="">
    </ngx-item>

    <ngx-item NgxCarouselItem class="bannerStyle">
      <img src="../../assets/img/main/2.jpg" alt="">
    </ngx-item>

    <ngx-item NgxCarouselItem class="bannerStyle">
      <img src="../../assets/img/main/3.jpg" alt="">
    </ngx-item>

    <ngx-item NgxCarouselItem class="bannerStyle">
      <img src="../../assets/img/main/4.jpg" alt="">
    </ngx-item>

    <ngx-item NgxCarouselItem class="bannerStyle">
      <img src="../../assets/img/main/5.jpg" alt="">
    </ngx-item>

    <ngx-item NgxCarouselItem class="bannerStyle">
      <img src="../../assets/img/main/6.jpg" alt="">
    </ngx-item>

    <ngx-item NgxCarouselItem class="bannerStyle">
      <img src="../../assets/img/main/7.jpg" alt="">
    </ngx-item>
    <ngx-item NgxCarouselItem class="bannerStyle">
      <img src="../../assets/img/main/8.jpg" alt="">
    </ngx-item>
    <ngx-item NgxCarouselItem class="bannerStyle">
      <img src="../../assets/img/main/9.jpg" alt="">
    </ngx-item>
    <ngx-item NgxCarouselItem class="bannerStyle">
      <img src="../../assets/img/main/10.jpg" alt="">
    </ngx-item>
    <ngx-item NgxCarouselItem class="bannerStyle">
      <img src="../../assets/img/main/11.jpg" alt="">
    </ngx-item>
    <ngx-item NgxCarouselItem class="bannerStyle">
      <img src="../../assets/img/main/12.jpg" alt="">
    </ngx-item>
    <ngx-item NgxCarouselItem class="bannerStyle">
      <img src="../../assets/img/main/13.jpg" alt="">
    </ngx-item>
    <ngx-item NgxCarouselItem class="bannerStyle">
      <img src="../../assets/img/main/14.jpg" alt="">
    </ngx-item>
    <ngx-item NgxCarouselItem class="bannerStyle">
      <img src="../../assets/img/main/15.jpg" alt="">
    </ngx-item>
    <ngx-item NgxCarouselItem class="bannerStyle">
      <img src="../../assets/img/main/16.jpg" alt="">
    </ngx-item>
    <ngx-item NgxCarouselItem class="bannerStyle">
      <img src="../../assets/img/main/17.jpg" alt="">
    </ngx-item>

    <button NgxCarouselPrev class='leftRs'>&lt;</button>
    <button NgxCarouselNext class='rightRs'>&gt;</button>
  </ngx-carousel>
</div>
