<div class="container">
  <div class="row">
    <p class="text-center effect_head">Спецефекти</p>
    <p class="text-center effect_text">Для першого танцю пропонуємо: важкий дим, холодні вогні, конфеті.</p>
  </div>
  <div class="col-lg-12">

    <div class="row">
      <p class="text-center text_head_effect_block">Важкий (низький) дим</p>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="text_text_effect_block">
          Важкий (низький) дим - це ефект диму, що низько стелиться по танцювальному майданчику та сцені.<br> Цей дим не
          має запаху і може бути використаний в будь-якому приміщенні. Дуже красиво такий ефект виглядає під час першого
          танцю молодят на весіллі.

        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1">
        <ngx-carousel
          [inputs]="carouselSmoke"
          [moveToSlide]="2"
          (onMove)="myfunc($event)">
          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/effect/12.jpg" alt="">
          </ngx-item>
          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/effect/1.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/effect/2.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/effect/3.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/effect/4.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/effect/5.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/effect/6.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/effect/7.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/effect/8.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/effect/9.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/effect/10.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/effect/11.jpg" alt="">
          </ngx-item>



          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/effect/13.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/effect/14.jpg" alt="">
          </ngx-item>
          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/7.jpg" alt="">
          </ngx-item>
          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/8.jpg" alt="">
          </ngx-item>
          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/9.jpg" alt="">
          </ngx-item>
          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/10.jpg" alt="">
          </ngx-item>

          <button NgxCarouselPrev class='leftRs'>&lt;</button>
          <button NgxCarouselNext class='rightRs'>&gt;</button>
        </ngx-carousel>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="price text-center">
          Вартість оренди – від 1600-1800 грн. ( з тривалістю генеруванням важкого диму до 5 хв)
        </p>
        <p class="price text-center">
          У вартість включено доставку та обслуговування у межах міста Львова.
          Виїзд за межі м.Львова оплачується додатково.

        </p>
      </div>
    </div>

    <div class="row">
      <p class="text-center text_head_effect_block">Конфеті</p>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="text_text_effect_block">
          Конфеті - це відмінний спосіб створити красивий і одночасно з цим безпечний святковий ефект. Принцип конфеті
          полягає в тому, що під дією повітря машина викидає конфеті різноманітної форми.<br>Тривалість безперервної
          роботи до 5 хвилин.

        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1">
        <ngx-carousel
          [inputs]="carouselOne"
          [moveToSlide]="2"
          (onMove)="myfunc($event)">
          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/effect/16.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/effect/15.jpg" alt="">
          </ngx-item>




          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/effect/18.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/effect/19.jpg" alt="">
          </ngx-item>
          <button NgxCarouselPrev class='leftRs'>&lt;</button>
          <button NgxCarouselNext class='rightRs'>&gt;</button>
        </ngx-carousel>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="price text-center">
          Тривалість безперервної роботи до 5 хвилин.
          <br>
          Вартість від 1200 до 1600 грн.

        </p>
        <p class="price text-center">
          У вартість оренди включено: доставку та обслоговування в межах м. Львова, 1.5 - 2 кг. витратного матеріалу
          (конфеті).


        </p>
      </div>
    </div>


    <div class="row">
      <p class="text-center text_head_effect_block">Холодні фонтани
      </p>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="text_text_effect_block">
          Холодні фонтани можуть використовуватися як на будь-якій вуличній площадці, так і в приміщенні. Вони абсолютно
          безпечні, не псують інтер'єр приміщення та одяг.


        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1">
        <ngx-carousel
          [inputs]="carouselTwo"
          [moveToSlide]="2"
          (onMove)="myfunc($event)">

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/effect2/1.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/effect2/2.jpg" alt="">
          </ngx-item>

          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/effect2/3.jpg" alt="">
          </ngx-item>


          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/1.jpg" alt="">
          </ngx-item>
          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/2.jpg" alt="">
          </ngx-item>
          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/3.jpg" alt="">
          </ngx-item>
          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/4.jpg" alt="">
          </ngx-item>
          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/5.jpg" alt="">
          </ngx-item>
          <ngx-item NgxCarouselItem class="bannerStyle">
            <img src="../../assets/img/6.jpg" alt="">
          </ngx-item>


          <button NgxCarouselPrev class='leftRs'>&lt;</button>
          <button NgxCarouselNext class='rightRs'>&gt;</button>
        </ngx-carousel>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="price text-center">
          Вартість 1-го холодного фонтану (час горіння 20 сек., висота 2 м.) - 150 грн.<br>
          Вартість 1-го холодного фонтану (час горіння 30 сек., висота 3 м.) - 170 грн.


        </p>
        <p class="price text-center">
          Мінімальне замовлення 4 штуки.<br>
          Виїзд за межі м.Львова оплачується додатково.<br>
          При замовленні важкого диму та холодних фонтанів діє знижка.


        </p>
      </div>
    </div>

    <div class="row">
      <p class="text-center text_head_effect_block">Небесні ліхтарики
      </p>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="text_text_effect_block">
          Небесні ліхтарики у формі СЕРЦЯ – оригінальне освідчення в коханні!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="text_text_effect_block">
          Небесні ліхтарики – оригінальна, ефектна і безпечна, альтернатива салюту і феєрверку на будь-яке свято. При
          цьому, час польоту ліхтариків становить близько 20 хвилин і підніматися на висоту до 200 метрів.

        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="text_text_effect_block">
          Продаж небесних ліхтариків:<br>
          Ми пропонуємо ліхтарики, у вигляді сердець і конусів, білі і кольорові для будь-якого свята, події або заходу.<br>
          Ліхтарики у формі «СЕРЦЯ» (105 см.)<br>
          При купівлі від 10 шт. – 32 гр./ шт.<br>
          Ліхтарики у формі «КУПОЛА» (105 см.)<br>
          Червоний, оранжевий, жовтий, зелений, фіолетовий, білий, рожевий.<br>
          При купівлі від 10 шт. – 32 гр./ шт.<br>
          Ви можете самостійно забрати небесні ліхтарики подзвонивши по телефону +380638959583

        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1">
        <img src="../../assets/img/effect2/4.jpg" alt="">
      </div>
    </div>

  </div>
</div>
