<div class="container">
  <div class="row">
    <p class="text-center logo_text">Прокат плать від Марії Баранець</p>
  </div>
  <div class="col-lg-12 col-md-12 col-sm12">
    <div class="col-lg-4 col-md-8 col-sm-10" *ngFor="let s of rent | async">
      <div class="col-lg-12">
        <img src="{{s.file}}" alt="" width="100%" (click)="NavToDress(s.zastava, s.rent, s.description, s.file, s.file1, s.file2)"
             style="cursor: pointer">
      </div>
      <div class="col-lg-12">
        <p class="text-center">{{s.rent}}</p>
      </div>
    </div>
  </div>
</div>

